services:
  auth_service:
    build: ./auth_service
    ports:
      - "5001:5001"
    env_file:
      - .env
      
  product_service:
    build: ./product_service
    ports:
      - "5002:5002"
    env_file:
      - .env

  api-gateway:
    build: ./api-gateway
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - auth_service
      - product_service
